In [1]:
# df1 = pd.read_csv('resume_data_improved.csv')
# df2 = pd.read_csv('resume_data_developer.csv')
import os, pandas as pd
directory = os.path.join(os.getcwd())
pattern = "resume_data"
files = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f)) and f.startswith(pattern)]
df_full = [pd.read_csv(csv) for csv in files]
df = pd.concat(df_full, axis=0).drop_duplicates()
df.shape

(6384, 21)

In [2]:
df.head()

,Unnamed: 0,Role,Desired Industry,SpiderID,Desired Job Location,Date Posted,Type of Position,Availability Date,Desired Wage,U.S. Work Authorization,...,Willing to Travel,Highest Degree Attained,Willing to Relocate,Objective,Experience,Education,Affiliations,Skills,Additional Information,Reference
0,0,"Conversation Designer, Prompt Engineer (AI), C...",Information Technology,83965,"New York, New York",3/6/2023,Other,Immediately,NaN,Other,...,NaN,Masters,Yes,Summary\nCreative Copywriter with strong machi...,11.2022  present\nNo-Code Prompt Engineer (Ar...,National State University\nMaster`s Degree in ...,TBA,\tCopywriting\n\tContent Creation\n\tCreati...,Contact Information (E-mail): bigooo@online.ee,Available upon request.
1,1,IT Support Specialist Resume,Information Technology,83943,"Vero Beach, Florida",2/17/2023,Full-Time Permanent,1 April 2023,"67,000",Yes,...,"Yes, 50-75%",Other,Yes,An administrative manager seeking a full-time ...,"Administrative Manager\nVero Beach, FL.\nJohn...",Cisco Certified Network Associate (CCNA)\n11/2...,Association for the Advancement of Cost Engine...,"Technical: Computer Architecture, Operating Sy...",● 8+ years of experience in building massively...,Available upon request.
2,2,Software Engineer Resume,Computer Software/Programming,83929,"new york city, New York",2/3/2023,Full-Time Permanent,NaN,NaN,NaN,...,NaN,NaN,NaN,"I am exceptionally driven, with an entrepreneu...","Diverse experience through part-time, contract...",BASc Management Engineering\nUniversity of Wat..., Microsoft AZ 900\n AWS Certified Cloud Prac...,MS Office; PowerPoint; Advanced Excel; Solver...,Security Clearance- Top Secret/SCI\t\t ...,Available upon request.
3,3,Analyst Resume,Multiple Job Offering,83923,"Orangeville, Ontario",1/26/2023,Full-Time Permanent,February 1 2023,negotiable,No,...,"Yes, 50-75%",Bachelors,Yes,\tOver 9 years of professional experience in ...,"A versatile, technically astute field piping, ...",Philippines Licensed Mechanical Engineer with...,Military and Aerospace PUblications\nTech Brie...,\tExpert in reviewing mechanical site design ...,I moved to Canada on an Open Work Permit Schem...,Available upon request.
4,4,Mechanical Engineer Resume,Engineering,83916,"Surrey, New Brunswick",1/17/2023,Full-Time Permanent,NaN,NaN,Yes,...,NaN,Bachelors,Yes,PROFESSIONAL SUMMARY:\nQuality Analyst with ov...,"Full Stack Java Developer \tOzone Services, Sa...",Bachelor of technology\t Mount Zion College of...,University of Assiut,"Web Technologies\tHTML, CSS, Bootstrap, JavaSc...","Clarity, Enterprise Project Management plan, J...",Available upon request.

In [4]:
# df = pd.concat([df1, df2], axis=0).drop_duplicates()

In [3]:
df.isnull().sum() / df.shape[0] * 100

Unnamed: 0                  0.000000
Role                        0.000000
Desired Industry            0.000000
SpiderID                    0.000000
Desired Job Location        0.000000
Date Posted                 0.000000
Type of Position            0.000000
Availability Date          33.082707
Desired Wage               33.536967
U.S. Work Authorization    10.573308
Job Level                   0.000000
Willing to Travel          27.803885
Highest Degree Attained    11.293860
Willing to Relocate         9.868421
Objective                  16.964286
Experience                 11.105890
Education                  16.682331
Affiliations               65.664160
Skills                     20.676692
Additional Information     49.843358
Reference                  60.776942
dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6054 entries, 0 to 555
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               6054 non-null   int64
 1   Role                     6054 non-null   object
 2   Desired Industry         6054 non-null   object
 3   SpiderID                 6054 non-null   int64
 4   Desired Job Location     6054 non-null   object
 5   Date Posted              6054 non-null   object
 6   Type of Position         6054 non-null   object
 7   Availability Date        4032 non-null   object
 8   Desired Wage             4039 non-null   object
 9   U.S. Work Authorization  5424 non-null   object
 10  Job Level                6054 non-null   object
 11  Willing to Travel        4336 non-null   object
 12  Highest Degree Attained  5375 non-null   object
 13  Willing to Relocate      5471 non-null   object
 14  Objective                5057 non-null   object
 15  Experience               5415 non-null   object
 16  Education                5076 non-null   object
 17  Affiliations             2124 non-null   object
 18  Skills                   4850 non-null   object
 19  Additional Information   3094 non-null   object
 20  Reference                2370 non-null   object
dtypes: int64(2), object(19)
memory usage: 1.0+ MB

In [4]:
df = df.drop(['Availability Date', 'Date Posted', 'Unnamed: 0', 'Reference'], axis=1)

In [5]:
df.shape

(6384, 17)

In [7]:
df.nunique()

Role                       3906
Desired Industry             99
SpiderID                   5755
Desired Job Location       2498
Type of Position             12
Desired Wage                788
U.S. Work Authorization       4
Job Level                     9
Willing to Travel             6
Highest Degree Attained      11
Willing to Relocate           5
Objective                  4516
Experience                 4841
Education                  4497
Affiliations               1272
Skills                     4138
Additional Information     2598
dtype: int64

In [8]:
df[['Willing to Relocate', 'U.S. Work Authorization', 'Willing to Travel']].value_counts()

Willing to Relocate  U.S. Work Authorization  Willing to Travel
Yes                  Yes                      Yes, 25-50%           744
                                              Yes, Less Than 25%    590
No                   Yes                      Yes, Less Than 25%    489
                                              Yes, 25-50%           465
                                              No                    440
Yes                  Yes                      Yes, More Than 75%    353
                                              Yes, 50-75%           321
Undecided            Yes                      Yes, Less Than 25%    160
                                              Yes, 25-50%           133
No Preference        Yes                      Yes, More Than 75%     93
No                   Yes                      Yes, 50-75%            90
Yes                  Yes                      No                     75
                     No                       Yes, More Than 75%     54
No                   Yes                      Yes, More Than 75%     49
Undecided            Yes                      Yes, 50-75%            46
Yes                  No                       Yes, 50-75%            42
                                              Yes, 25-50%            31
Undecided            Yes                      No                     25
Yes                  No                       Yes, Less Than 25%     25
No Preference        Yes                      Yes, 25-50%            25
Undecided            Yes                      Yes, More Than 75%     22
No Preference        Yes                      Yes, 50-75%            20
No                   No                       Yes, Less Than 25%     16
No Preference        Yes                      Yes, Less Than 25%     16
No                   No                       No                     15
Yes                  No                       No                     14
                     Other                    Yes, More Than 75%     11
                                              Yes, 25-50%            11
No                   No                       Yes, 25-50%             9
No Preference        Yes                      No                      8
Yes                  Other                    Yes, 50-75%             7
Undecided            No                       Yes, 50-75%             7
                                              Yes, 25-50%             5
Yes                  Other                    Yes, Less Than 25%      5
Undecided            No                       Yes, More Than 75%      4
No Preference        No                       Yes, 50-75%             3
Undecided            No                       No                      2
No                   No                       Yes, More Than 75%      2
                     Other                    No                      2
                                              Yes, 25-50%             2
Undecided            No                       Yes, Less Than 25%      2
                     Other                    No                      2
                                              Yes, Less Than 25%      2
No Preference        No                       Yes, More Than 75%      2
                     Other                    Yes, More Than 75%      2
No                   Other                    Yes, Less Than 25%      2
No Preference        Other                    Yes, 25-50%             1
Undecided            Other                    Yes, 25-50%             1
No Preference        Other                    Yes, 50-75%             1
Undecided            Other                    Yes, 50-75%             1
Oui                  Autre                    Oui, 25-50%             1
No                   No                       Yes, 50-75%             1
dtype: int64

In [9]:
# FEATURE PREPROCESSING
import numpy as np, re
df['Willing to Relocate'] = df['Willing to Relocate'].map({'No': 'no', 'Yes': 'yes'})
df.loc[df['U.S. Work Authorization'] == 'Other', 'U.S. Work Authorization'] = np.nan

In [10]:
def myfunc(a):

    if a is np.nan:
        return np.nan
    res = re.search(r'([0-9]+-)*[0-9]+%$', a)
    if res and res.group() in ['50-75%', '25%', '25-50%', '75%']:
        return res.group()[:-1]
    else:
        return a

df['Willing to Travel'] = df['Willing to Travel'].apply(myfunc)
df['Willing to Travel'] = df['Willing to Travel'].map({'50-75': 0.625, 'No': 0, '25': 0.25, '25-50': 0.375})

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6384 entries, 0 to 555
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Role                     6384 non-null   object
 1   Desired Industry         6384 non-null   object
 2   SpiderID                 6384 non-null   int64
 3   Desired Job Location     6384 non-null   object
 4   Type of Position         6384 non-null   object
 5   Desired Wage             4243 non-null   object
 6   U.S. Work Authorization  5644 non-null   object
 7   Job Level                6384 non-null   object
 8   Willing to Travel        3982 non-null   float64
 9   Highest Degree Attained  5663 non-null   object
 10  Willing to Relocate      5086 non-null   object
 11  Objective                5301 non-null   object
 12  Experience               5675 non-null   object
 13  Education                5319 non-null   object
 14  Affiliations             2192 non-null   object
 15  Skills                   5064 non-null   object
 16  Additional Information   3202 non-null   object
dtypes: float64(1), int64(1), object(15)
memory usage: 897.8+ KB

In [22]:
df['Desired Industry'].value_counts().sort_values(ascending=False)

Information Technology    1158
CAD/Drafting               570
Automotive/Mechanic        511
Engineering                374
Computer Hardware          341
                          ...
Welder                       1
HVAC                         1
Cashier                      1
Musician                     1
Fundraising                  1
Name: Desired Industry, Length: 99, dtype: int64

In [19]:
df['Role'].sort_values().unique()

array([' AutoCAD Drafter Resume', ' CHEMICAL and PROCESS ENGINEER Resume',
       ' C_C   _LINUX_WIN DEVELOPER Resume', ..., 'writer Resume',
       'writer/editor Resume', 'xPression Developer Resume'], dtype=object)

In [29]:
import re

files = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f)) and re.search(r'category_[0-9]+', f)]

In [30]:
df2 = pd.concat([pd.read_csv(csv) for csv in files], axis=0).drop_duplicates()

In [31]:
df2['Desired Industry'].value_counts()

Computer Software/Programming     1057
Banking/Mortgage                  1007
Graphics Design/Commercial Art     604
CAD/Drafting                       556
Automotive/Mechanic                483
Computer Hardware                  330
Quality Control                    289
Public Relations                   227
Name: Desired Industry, dtype: int64