In [2]:
# df1 = pd.read_csv('resume_data_improved.csv')
# df2 = pd.read_csv('resume_data_developer.csv')
# pattern = "resume_data"
# files = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f)) and f.startswith(pattern)]
# df_full = [pd.read_csv(csv) for csv in files]
# df = pd.concat(df_full, axis=0, ignore_index=True).drop_duplicates()
# df.shape

(16328, 21)

In [ ]:
df.head()

In [ ]:
# df = pd.concat([df1, df2], axis=0).drop_duplicates()

In [ ]:
df.isnull().sum() / df.shape[0] * 100

In [ ]:
df.info()

In [ ]:
df = df.drop(['Availability Date', 'Date Posted', 'Unnamed: 0', 'Reference'], axis=1)

In [ ]:
df.shape

In [ ]:
df.nunique()

In [ ]:
df[['Willing to Relocate', 'U.S. Work Authorization', 'Willing to Travel']].value_counts()

In [33]:
# FEATURE PREPROCESSING
import numpy as np, re
df['Willing to Relocate'] = df['Willing to Relocate'].map({'No': 'no', 'Yes': 'yes'})
df.loc[df['U.S. Work Authorization'] == 'Other', 'U.S. Work Authorization'] = np.nan

In [ ]:
def myfunc(a):

    if a is np.nan:
        return np.nan
    res = re.search(r'([0-9]+-)*[0-9]+%$', a)
    if res and res.group() in ['50-75%', '25%', '25-50%', '75%']:
        return res.group()[:-1]
    else:
        return a

df['Willing to Travel'] = df['Willing to Travel'].apply(myfunc)
df['Willing to Travel'] = df['Willing to Travel'].map({'50-75': 0.625, 'No': 0, '25': 0.25, '25-50': 0.375})

In [ ]:
df.info()

In [ ]:
df['Desired Industry'].value_counts().sort_values(ascending=False)

In [ ]:
df['Role'].sort_values().unique()

# START FROM HERE

In [3]:
import re
import os, pandas as pd
directory = os.path.join(os.getcwd())
files = [f for f in os.listdir(directory) if os.path.isfile(os.path.join(directory, f)) and re.search(r'category_[0-9]+', f)]

In [4]:
df2 = pd.concat([pd.read_csv(csv) for csv in files], axis=0, ignore_index=True).drop_duplicates()

In [5]:
df2['Desired Industry'].value_counts()

Engineering                       1500
Information Technology            1500
Accounting/Bookkeeping            1500
Business/Management               1500
Finance/Investment                1276
Computer Software/Programming     1057
Banking/Mortgage                  1007
Graphics Design/Commercial Art     604
CAD/Drafting                       556
Automotive/Mechanic                483
Computer Hardware                  330
Quality Control                    289
Public Relations                   227
Name: Desired Industry, dtype: int64

In [6]:
df2 = df2.drop(['Availability Date', 'Date Posted', 'Unnamed: 0', 'Reference', 'Affiliations'], axis=1)

In [7]:
df2.shape

(11829, 16)

In [34]:

attr = ['Skills', 'Objective', 'Education', 'Experience', 'Additional Information']
for col in attr:
    df2[col] = df2[col].apply(lambda x: str(x).encode('ascii', errors='ignore').decode().strip())
    df2[col] = df2[col].replace(r'^[-=]+[-=]$', np.nan ,  regex=True)
    df2[col] = df2[col].replace(['nan', 'non'], np.nan)

In [9]:
df2.columns

Index(['Role', 'Desired Industry', 'SpiderID', 'Desired Job Location',
       'Type of Position', 'Desired Wage', 'U.S. Work Authorization',
       'Job Level', 'Willing to Travel', 'Highest Degree Attained',
       'Willing to Relocate', 'Objective', 'Experience', 'Education', 'Skills',
       'Additional Information'],
      dtype='object')

In [16]:
sum(df2.Objective == 'nan')

2810

In [17]:
df2['Desired Industry'].value_counts()

Engineering                       1500
Information Technology            1500
Accounting/Bookkeeping            1500
Business/Management               1500
Finance/Investment                1276
Computer Software/Programming     1057
Banking/Mortgage                  1007
Graphics Design/Commercial Art     604
CAD/Drafting                       556
Automotive/Mechanic                483
Computer Hardware                  330
Quality Control                    289
Public Relations                   227
Name: Desired Industry, dtype: int64

In [22]:
sum(df.Skills == 'nan')

0

In [23]:
df2.Skills

0        Preventive Maintenance\nProcess Improvement\nC...
1                                                     java
2        Expert in reviewing mechanical site design dra...
3                   Mechanichal Engineering + Mechatronics
4        Leadership Role: HKIE Student Chapters Committ...
                               ...
11824                                                  nan
11825                                                  nan
11826                                                  nan
11827                                                  nan
11828                                                  nan
Name: Skills, Length: 11829, dtype: object

In [31]:
sum(df2['Skills'] == 'nan')

3625

In [35]:
df2.isnull().sum()

Role                          0
Desired Industry              0
SpiderID                      0
Desired Job Location          0
Type of Position              0
Desired Wage               4434
U.S. Work Authorization    1686
Job Level                     0
Willing to Travel          3130
Highest Degree Attained    1712
Willing to Relocate        1649
Objective                  2832
Experience                 2444
Education                  2987
Skills                     3857
Additional Information     7405
dtype: int64

In [36]:
df2.shape

(11829, 16)

In [40]:
df2 = df2.drop('Additional Information', axis=1)

In [43]:
df2.

,Role,Desired Industry,SpiderID,Desired Job Location,Type of Position,Desired Wage,U.S. Work Authorization,Job Level,Willing to Travel,Highest Degree Attained,Willing to Relocate,Objective,Experience,Education,Skills
0,Director of Maintenance Operations Resume,Engineering,83950,"Wilmington, North Carolina",Full-Time Permanent,115000,Yes,"Management (Manager, Director)","Yes, Less Than 25%",Bachelors,Yes,"Skilled in carrying out preventative, correcti...","Metro Ports, Wilmington, NC\nMaintenance Manag...",Bachelor of Arts in Geosciences University of...,Preventive Maintenance\nProcess Improvement\nC...
5,Telecommunications Electronics Technician Resume,Engineering,83775,"EGLIN AFB, Florida",Full-Time Permanent,"90,000",Yes,"Management (Manager, Director)","Yes, Less Than 25%",Bachelors,Yes,"Success-driven and multifaceted professional, ...",EXPERIENCE: Twenty-two years (+) product devel...,University of Windsor Master's in Electrical a...,"Hands-on, analytical, and solutions-focused pr..."
6,Electrical Engineer Resume,Engineering,83756,"Etobicoke, Ontario",Full-Time Permanent,50000,No,New Grad/Entry Level,"Yes, Less Than 25%",Masters,Yes,I believe that my skill and interested in\nSys...,"BENJAMIN ABRAHAM CONSULTING, AMERICUS, GA\nBus...","EDUCATION: LaVerne University, B.S. in Physics...",Auto-CAD Electrical for designing power and co...
7,IT Manager Resume,Engineering,83750,"Thompsons Station, Tennessee",Full-Time Permanent,"$145,000",Yes,"Management (Manager, Director)",No,Bachelors,No,Highly experienced and solutions-oriented prof...,Professional Experience\nForeign Currency -Mai...,Bachelor of Science in Construction Management...,"ACHIEVEMENTS:\nU.S. PATENT: Patent no.4,907,1..."
8,"Jobspider, Senior Mems Process Engineer Resume",Engineering,83740,"Chandler, Arizona",Full-Time Permanent,$120K,No,Experienced with over 2 years experience,"Yes, Less Than 25%",Bachelors,No,Extensive experience in the semi-conductor ind...,Professional Experience\nTWE Nonwovens | Fort ...,Data Science Certificate \t\t ...,QCS/RMS Software | Microsoft Office Applicatio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11225,Director Resume,Business/Management,46551,"Boise, Idaho",Full-Time Permanent,80k Annual,Yes,"Management (Manager, Director)","Yes, 50-75%",Masters,Yes,Results-Focused Leader with Success in Leading...,Poseidon Infosoft is a one stop solutions for ...,"Education\n M.B.A., University of Phoenix (200...","Type 60+ wpm, excellent accounting skills, at..."
11227,office/clerk Resume,Business/Management,46497,"Chicago, Illinois",Full-Time Permanent,18.00,Yes,New Grad/Entry Level,No,Other,No,Multi-functional executive with over 18 years ...,EMPLOYMENT HISTORY:\nJuly 2008 present\t\t\t\...,"University of California, San Diego\nMasters P...",EXECUTIVE ADMINISTRATIVE ASSISTANT\nHighly org...
11229,MGMT/MKTG/Sales Resume,Business/Management,46468,"Mechanicsburg, Pennsylvania",Contractor,"$13,000+ part time",Yes,New Grad/Entry Level,No,Other,No,I am seeking stable employment in a challengin...,District of Columbia Office of Tax and Revenue...,"MBA, University of Phoenix\nBA, Criminal Justi...","Thorough knowledge of Matlab, PSpice, Protel, ..."
11231,Construction Manager Resume,Business/Management,46362,"Temecula, California",Full-Time Permanent,90 k,Yes,"Management (Manager, Director)","Yes, Less Than 25%",Other,Undecided,Contribute 20+ years corporate leadership to a...,The Job involves posting of business ads on va...,University of Missouri St. Louis\nCompleted D...,"Microsoft Office, Word Perfect, Internet."
11233,administrative Resume,Business/Management,46323,"Mesa, Arizona",Full-Time Permanent,15.00,Yes,Experienced with over 2 years experience,No,High School/Equivalent,No,Actively seeking a position as a\n HUMAN RESOU...,"5/06 to Present - Alluvium, L.L.C. - Manag...",TUI UNIVERSITY\nMasters of Business Administra...,Offshore strategy development\nProject Managem...

In [45]:
# df2.to_csv('data.csv')

In [51]:
df2 = df2.fillna('')

In [49]:
df['Skills'] + ' '+ df['Objective']

0        \tCopywriting\n\tContent Creation\n\tCreati...
1        Technical: Computer Architecture, Operating Sy...
2        MS Office; PowerPoint; Advanced Excel; Solver...
3        \tExpert in reviewing mechanical site design ...
4        Web Technologies\tHTML, CSS, Bootstrap, JavaSc...
                               ...
16324                                                  NaN
16325                                                  NaN
16326                                                  NaN
16327                                                  NaN
16328                                                  NaN
Length: 16328, dtype: object

In [52]:
df2.isnull().sum()

Role                       0
Desired Industry           0
SpiderID                   0
Desired Job Location       0
Type of Position           0
Desired Wage               0
U.S. Work Authorization    0
Job Level                  0
Willing to Travel          0
Highest Degree Attained    0
Willing to Relocate        0
Objective                  0
Experience                 0
Education                  0
Skills                     0
dtype: int64

In [53]:
import spacy

In [54]:
nlp = spacy.load('en_core_web_sm')

In [55]:
df_copy = df2.copy()

In [58]:
def preprocess_doc(doc):
    # Tokenize the document
    tokens = [token.text for token in doc]

    # Remove stop words
    tokens = [token for token in tokens if not token.is_stop]

    # Lemmatize the tokens
    tokens = [token.lemma_ for token in doc]

    # Join the tokens back into a single string
    preprocessed_doc = ' '.join(tokens)

    return preprocessed_doc

In [59]:
for col in ['Skills', 'Objective', 'Education', 'Experience']:
    df_copy[col] = df_copy[col].apply(lambda x: preprocess_doc(nlp(x)))

AttributeError: 'str' object has no attribute 'is_stop'